* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-fredoka {
  font-family: "Fredoka", sans-serif;
}

header {
  margin: 0 auto;
}
header .main-title {
  text-align: center;
  color: #e53170;
  padding-top: 2rem;
}
header p {
  text-align: center;
  padding: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  margin: 1.5rem 1rem 1.5rem 1rem;
}
img {
  width: 125px;
}
.card-description {
  padding: 0 0 0 1.5rem;
  background-color: black;
  color: white;
  width: 290px;
}

.card-description h2 {
  padding: 1rem 0 0.5rem 0;
}
.card-description h3 {
  padding-bottom: 0.7rem;
}
.card-description p {
  color: #64b8d7;
  font-size: 1.2rem;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  flex-wrap: wrap;
}

.form-container div {
  margin: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex button {
  border: none;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: rgb(0, 93, 253);
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}
.flex button:active {
  transform: scale(1.1);
  background-color: rgb(111, 162, 250);
  color: black;
}
